# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
venv.bak/
ENV.bak/

# IDEs and editors
.idea/
.vscode/
*.swp
*~
*.sublime-project
*.sublime-workspace

# Data files
_app_data/
_app_data_main_demo/
user_profiles/
user_profiles_demo/

# Test output
htmlcov/
.coverage
.pytest_cache/
.tox/
MANIFEST

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
local_settings.py
instance/
